## Heroes of Pymoli Analysis
### Conclusions
* Majority of players are male (84%)
* Majority of players are ages 15-29, accounting for more than 75% of players
    * Ages 20-24 (45%)
	* Ages 15-19 (19%)
	* Ages 25-29 (13%)
* Same age groups produce the most revenue
    * Ages 20-24 (47%)
	* Ages 15-19 (17%)
	* Ages 25-29 (12%)
    * They didn't necessarily buy the most expensive items though

I know zip about business, but perhaps we should consider expanding our target demographic :-)

________________________________________________________________

# Code
### Setup

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data_df = pd.read_csv(file_to_load)
data_df.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

### Player Count

In [2]:
player_count = len(data_df['SN'].value_counts())
player_count_df = pd.DataFrame({"Total Players": [player_count]})
player_count_df

   Total Players
0            576

### Purchasing Analysis (Total)

In [3]:
unique_item_count = len(data_df['Item Name'].unique())
total_purchases = len(data_df['Purchase ID'])
total_revenue = data_df['Price'].sum()
avg_price = total_revenue / total_purchases

analysis_df = pd.DataFrame({'Number of Unique Items': [unique_item_count],
                                  'Average Price': avg_price,
                                  'Number of Purchases': total_purchases,
                                  'Total Revenue': total_revenue})
analysis_df.style.format({'Average Price':"${:.2f}", 'Total Revenue':"${:,.2f}"})

### Gender Demographics

In [4]:
age_groupby = data_df.groupby('Gender')
total_gender_count = age_groupby["SN"].nunique()
percent_gender_count = total_gender_count / player_count * 100
gender_demographics_df = pd.DataFrame({'Total Count': total_gender_count,
                                    'Percentage of Players': percent_gender_count.map("{:.2f}%".format)})
gender_demographics_df.index.name = None
gender_demographics_df = gender_demographics_df.sort_values('Total Count', ascending = False)
gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


### Purchasing Analysis (Gender)

In [5]:
gender_groupby = data_df.groupby('Gender')
total_gender_count = gender_groupby.nunique()['SN']
purchase_count = gender_groupby['Purchase ID'].count()
avg_purchase_price = gender_groupby['Price'].mean()
total_purchase_value = gender_groupby['Price'].sum()
avg_purchase_per_person = total_purchase_value / total_gender_count

gender_purchase_df = pd.DataFrame({'Purchase Count': purchase_count,
                                   'Average Purchase Price': avg_purchase_price.map("${:.2f}".format),
                                   'Total Purchase Value': total_purchase_value.map("${:,.2f}".format),
                                   'Avg Total Purchase per Person': avg_purchase_per_person.map("${:.2f}".format)})
gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

### Age Demographics

In [6]:
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 100]
age_bin_label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

data_df['Age Ranges'] = pd.cut(data_df['Age'], age_bins, labels = age_bin_label)
age_groupby = data_df.groupby('Age Ranges')

total_age_count = age_groupby["SN"].nunique()
percent_age_count = total_age_count / player_count * 100

age_demographics_df = pd.DataFrame({'Total Count': total_age_count,
                                    'Percentage of Players': percent_age_count.map("{:.2f}%".format)})
age_demographics_df.index.name = None
age_demographics_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

### Purchasing Analysis (Age)

In [7]:
# Used binning / cut variable from previous cell
purchase_count_age = age_groupby['Purchase ID'].count()
avg_purchase_price_age = age_groupby['Price'].mean()
total_puchase_value_age = age_groupby['Price'].sum()
avg_purchase_per_person_age = total_puchase_value_age / total_age_count

age_purchase_df = pd.DataFrame({'Purchase Count': purchase_count_age,
                                'Average Purchase Price': avg_purchase_price_age.map('${:.2f}'.format),
                                'Total Purchase Value': total_puchase_value_age.map('${:,.2f}'.format),
                                'Avg Total Purchase per Person': avg_purchase_per_person_age.map('${:.2f}'.format)})

age_purchase_df.index.name = 'Age Ranges'
age_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

### Top Spenders

In [8]:
sn_groupby = data_df.groupby('SN')
sn_purchase_count = sn_groupby['Purchase ID'].count()
sn_avg_purchase_price = sn_groupby['Price'].mean()
sn_total_purchase_value = sn_groupby['Price'].sum()

sn_df = pd.DataFrame({'Purchase Count': sn_purchase_count,
                     'Average Purchase Price': sn_avg_purchase_price,
                     'Total Purchase Value': sn_total_purchase_value})

formatting = sn_df.sort_values(by = ['Total Purchase Value'], ascending = False).head(5)
formatting.style.format({'Average Purchase Price':'${:.2f}',
                         'Total Purchase Value':'${:.2f}'})

### Most Popular Items

In [9]:
item_groupby = data_df.groupby(['Item ID', 'Item Name'])
item_purchase_count = item_groupby['Purchase ID'].count()
item_total_purchase_value = item_groupby['Price'].sum()
item_price = item_total_purchase_value / item_purchase_count

popular_df = pd.DataFrame({'Purchase Count': item_purchase_count, 'Item Price': item_price,
                          'Total Purchase Value': item_total_purchase_value})

formatting = popular_df.sort_values(by = ['Purchase Count'], ascending = False).head(5)
formatting.style.format({'Item Price':'${:.2f}',
                         'Total Purchase Value':'${:.2f}'})

### Most Profitable Items

In [10]:
formatting = popular_df.sort_values(by = ['Total Purchase Value'], ascending = False).head(5)
formatting.style.format({'Item Price':'${:.2f}',
                         'Total Purchase Value':'${:.2f}'})